<div class="w-50 mx-auto my-5 ">
    <h1 class="text-center">Reset Password</h1>

    <%= form_with model: @user, url: password_reset_update_path(token: params[:token]), data:{ turbo: false }, class: "form mt-5", local: true do |f| %>
        <% if f.object.errors.any? %>
            <div class="alert alert-danger">
                <% f.object.errors.full_messages.each do |message| %>
                    <div><%= message.inspect %></div>
                <% end %>
            </div>
        <% end %>
        <div class="mb-3">
            <%= f.label :password %><br>
            <%= f.password_field :password, class: "form-control", required: true %>
        </div>

        <div class="mb-3">
            <%= f.label :password_confirmation %><br>
            <%= f.password_field :password_confirmation, class: "form-control", required: true %>
        </div>

        <%= f.submit "Reset Password", class: "btn btn-success" %>
    <% end %>
</div>