<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand me-5 border p-2 text-primary bg-light rounded-circle" href="#">Gitweet</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <%= link_to "Twitter Accounts", twitter_accounts_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "GitHub Accounts", github_accounts_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "Tweets", tweets_path, class: "nav-link" %>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto mb2 mb-lg-0">
      <% if Current.user %>
          <li class="nav-item">
            <%= link_to Current.user.email, profile_path,  class: "nav-link" %>
          </li>
          
          <li class="nav-item">
            <%= button_to "Logout", logout_path, class: "btn btn-light", method: :delete %>
          </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Sign In", login_path,  class: "nav-link" %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</nav>